.contenedor-trabajos{
    max-width: 75%;
    margin: auto;
    box-sizing: content-box;
    padding: 40px 0px 40px;

    }
   

.contenedor-trabajos img:hover{
    transform: scale(1.3);
    transition: all 1s;
}
.fototrabajo1{
    grid-area: foto1;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    transition: all 1s;
}
